// Set your brand colors
$lightblue: #0092dd;

// Update Bulma's global variables
$family-sans-serif: "Montserrat", sans-serif;
$primary: $lightblue;
$weight-normal: 500;

// Update some of Bulma's component variables

